<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div id="entries" class="min-w-full">
    <ul>
      <% @entries.each do |entry|  %>
        <li>
          <%= link_to "#{symbol_for_entry_type(entry.entry_type)} #{entry.title}", entry_path(entry) %>
        </li>
        <br>
      <% end %>
    </ul>
  </div>
</div>
