<nav>
	<span>
		<%= link_to "Entries", entries_path %>
		|
		<%= link_to "New Entry", new_entry_path %>
	</span>
	<span style="float:right">
		<%= link_to "Collections", collections_path %>
		|
		<%= link_to "New Collection", new_collection_path %>
	</span>
</nav>